#root {
  height: 100vh;
}

.icon {
  background-color: #0ABF53;
  border-radius: 10px;
}

.places {
  overflow: auto;
  padding: 20px 0;
  display: flex;
}

.places > div {
  margin-right: 5px;
  scroll-behavior: smooth;
}

.main {
  height: 100vh;
  position: relative;
}

.suggested {
  height: 125px;
  display: flex;
  align-items: center;
}

.suggested p {
  margin-bottom: 0;
}